.body {
  touch-action: none;
  margin: auto;
  height: 100vmin;
  width: 100vmin;
}

.fill-parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-margin {
  width: 100%;
  height: 5%;
}