.pads__container {
  height: 85%;
  width: 85%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-pad__container {
  height: 30%;
  width: 30%;
}

.drum-pad {
  height: 90%;
  width: 90%;
  margin: auto;
  background-color: darkgrey;
  border-radius: 10%;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
.drum-pad p {
  font-family: 'Black Ops One',sans-serif;
  font-size: 5vmin;
}